src = ["src"]
cache-dir = ".cache/ruff"
line-length = 80
preview = true

[format]
docstring-code-format = true

[lint]
select = [
    "AIR",   # https://docs.astral.sh/ruff/rules/#airflow-air
    "ERA",   # https://docs.astral.sh/ruff/rules/#eradicate-era
    "FAST",  # https://docs.astral.sh/ruff/rules/#fastapi-fast
    "YTT",   # https://docs.astral.sh/ruff/rules/#flake8-2020-ytt
    "ANN",   # https://docs.astral.sh/ruff/rules/#flake8-annotations-ann
    "ASYNC", # https://docs.astral.sh/ruff/rules/#flake8-async-async
    "S",     # https://docs.astral.sh/ruff/rules/#flake8-bandit-s
    "BLE",   # https://docs.astral.sh/ruff/rules/#flake8-blind-except-ble
    "FBT",   # https://docs.astral.sh/ruff/rules/#flake8-boolean-trap-fbt
    "B",     # https://docs.astral.sh/ruff/rules/#flake8-bugbear-b
    "A",     # https://docs.astral.sh/ruff/rules/#flake8-builtins-a
    "COM",   # https://docs.astral.sh/ruff/rules/#flake8-commas-com
    "C4",    # https://docs.astral.sh/ruff/rules/#flake8-comprehensions-c4
    # "CPY",   # https://docs.astral.sh/ruff/rules/#flake8-copyright-cpy
    "DTZ",  # https://docs.astral.sh/ruff/rules/#flake8-datetimez-dtz
    "T10",  # https://docs.astral.sh/ruff/rules/#flake8-debugger-t10
    "DJ",   # https://docs.astral.sh/ruff/rules/#flake8-django-dj
    "EM",   # https://docs.astral.sh/ruff/rules/#flake8-errmsg-em
    "EXE",  # https://docs.astral.sh/ruff/rules/#flake8-executable-exe
    "FIX",  # https://docs.astral.sh/ruff/rules/#flake8-fixme-fix
    "FA",   # https://docs.astral.sh/ruff/rules/#flake8-future-annotations-fa
    "INT",  # https://docs.astral.sh/ruff/rules/#flake8-gettext-int
    "ISC",  # https://docs.astral.sh/ruff/rules/#flake8-implicit-str-concat-isc
    "ICN",  # https://docs.astral.sh/ruff/rules/#flake8-import-conventions-icn
    "LOG",  # https://docs.astral.sh/ruff/rules/#flake8-logging-log
    "G",    # https://docs.astral.sh/ruff/rules/#flake8-logging-format-g
    "INP",  # https://docs.astral.sh/ruff/rules/#flake8-no-pep420-inp
    "PIE",  # https://docs.astral.sh/ruff/rules/#flake8-pie-pie
    "T20",  # https://docs.astral.sh/ruff/rules/#flake8-print-t20
    "PYI",  # https://docs.astral.sh/ruff/rules/#flake8-pyi-pyi
    "PT",   # https://docs.astral.sh/ruff/rules/#flake8-pytest-style-pt
    "Q",    # https://docs.astral.sh/ruff/rules/#flake8-quotes-q
    "RSE",  # https://docs.astral.sh/ruff/rules/#flake8-raise-rse
    "RET",  # https://docs.astral.sh/ruff/rules/#flake8-return-ret
    "SLF",  # https://docs.astral.sh/ruff/rules/#flake8-self-slf
    "SIM",  # https://docs.astral.sh/ruff/rules/#flake8-simplify-sim
    "SLOT", # https://docs.astral.sh/ruff/rules/#flake8-slots-slot
    "TID",  # https://docs.astral.sh/ruff/rules/#flake8-tidy-imports-tid
    "TD",   # https://docs.astral.sh/ruff/rules/#flake8-todos-td
    # "TC",   # https://docs.astral.sh/ruff/rules/#flake8-type-checking-tc
    "ARG",  # https://docs.astral.sh/ruff/rules/#flake8-unused-arguments-arg
    "PTH",  # https://docs.astral.sh/ruff/rules/#flake8-use-pathlib-pth
    "FLY",  # https://docs.astral.sh/ruff/rules/#flynt-fly
    "I",    # https://docs.astral.sh/ruff/rules/#isort-i
    "C90",  # https://docs.astral.sh/ruff/rules/#mccabe-c90
    "NPY",  # https://docs.astral.sh/ruff/rules/#numpy-specific-rules-npy
    "PD",   # https://docs.astral.sh/ruff/rules/#pandas-vet-pd
    "N",    # https://docs.astral.sh/ruff/rules/#pep8-naming-n
    "PERF", # https://docs.astral.sh/ruff/rules/#perflint-perf
    "E",    # https://docs.astral.sh/ruff/rules/#error-e
    "W",    # https://docs.astral.sh/ruff/rules/#warning-w
    "DOC",  # https://docs.astral.sh/ruff/rules/#pydoclint-doc
    "D",    # https://docs.astral.sh/ruff/rules/#pydocstyle-d
    "F",    # https://docs.astral.sh/ruff/rules/#pyflakes-f
    "PGH",  # https://docs.astral.sh/ruff/rules/#pygrep-hooks-pgh
    "PL",   # https://docs.astral.sh/ruff/rules/#pylint-pl
    "PLC",  # https://docs.astral.sh/ruff/rules/#convention-plc
    "PLE",  # https://docs.astral.sh/ruff/rules/#error-ple
    "PLR",  # https://docs.astral.sh/ruff/rules/#refactor-plr
    "PLW",  # https://docs.astral.sh/ruff/rules/#warning-plw
    "UP",   # https://docs.astral.sh/ruff/rules/#pyupgrade-up
    "FURB", # https://docs.astral.sh/ruff/rules/#refurb-furb
    "RUF",  # https://docs.astral.sh/ruff/rules/#ruff-specific-rules-ruf
    "TRY",  # https://docs.astral.sh/ruff/rules/#tryceratops-try
]
ignore = [
    "ANN401",  # https://docs.astral.sh/ruff/rules/any-type
    "D105",    # https://docs.astral.sh/ruff/rules/undocumented-magic-method
]

[lint.pydocstyle]
convention = "numpy"
